## This .gitignore has been designed to ignore the temporary assets of the following programs/platforms:
## macOS
## Unity
## Wwise
## Visual Studio Code
## JetBrains Rider

## Remember that the .gitignore file should be placed at the root of your Unity project directory.
## Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

################################################################
############################# MISC #############################
################################################################

## Comment the line below to track this .gitignore file.
# .gitignore

################################################################
###################### FROM MAC GITIGNORE ######################
################################################################

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###############################################################
############################ UNITY ############################
###############################################################

**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
**/[Mm]emoryCaptures/

# Recordings can get excessive in size
**/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
**/[Aa]ssets/Plugins/Editor/JetBrains*

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
**/[Aa]ssets/[Ss]treamingAssets/aa.meta
**/[Aa]ssets/[Ss]treamingAssets/aa/*

#################################################################
############################# WWISE #############################
#################################################################

# Project data
**/*WwiseProject/.cache
**/*.akd
**/*.prof
**/*.validationcache

# WWise Picker (Unity Editor)
**/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset*

# Temp Install Files
**/WwiseUnityIntegration_*_Src.zip

################################################################
###################### Visual Studio Code ######################
################################################################

**/.vscode/*
**/.vsconfig
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Visual Studio cache directory
.vs/

#################################################################
######################## JetBrains Rider ########################
#################################################################

**/.idea

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml
